.tittle{
    text-align: center;
    color: sienna;
    font-size: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.info{
    margin-top: 100px;
    text-align: center;
}

.img{
    
    display: flex;
    /* Distribuir items uniformemente
    Los items tienen el mismo espacio a su alrededor */
    justify-content: space-around;
    
}
img{
    box-shadow: 0 10px 25px sienna;
}

h2{
    color: sienna;
}

h3{
    color: sienna;
}
